%n1:id
%n1:person
  = render 'shared/person', person: person
%n1:relationships
  %n1:subject_individual
  %n1:relationship_uri
  %n1:inverse_relationship
  %n1:object_individual
= render 'shared/roles', person: person
%n1:other_coverage
  %n1:id
%n1:state_of_residency
%n1:immigration_status
%n1:incarcerated
%n1:financial
  %n1:incomes
    %n1:income
      %n1:calendar_year
      %n1:income_amount
      %n1:income_type
      %n1:income_frequency
      %n1:reported_date
      %n1:reported_by
      %n1:verification
        %n1:verified_flag
        %n1:source
        %n1:recorded_date
        %n1:recorded_by
        %n1:notes
  %n1:tax_file_status