= form_for(@vocabulary_request) do |f|
  .row
    .col-sm-offset-1.col-sm-8
      = f.input :enrollment_group_list, :as => :text
  = f.hidden_field :submitted_by

  .row
    .col-sm-offset-1
      = f.submit "Create", :class => "btn btn-primary"
