config/exchange.yml
.DS_Store
log/**/*
tmp/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
# Make sure no PII is accidently commited
# add w/ git add --force if actually docs
*.csv
*.txt
*.xml
*.xls
*.xlst
*.xlsx
*.doc
*.docx
