<div class="row">
  <div class="col-md-12">
    <h4>Comments</h4>
    <%= render 'comments/comments', commentable: commentable if commentable.has_comments? %>
    <%= render 'comments/form', commentable: commentable if can? :edit, @people %>
  </div>
</div>
