<div class="row">
  <% commentable.comments.each do |comment| %>
  	<ul>
  	 <li>
        <% if comment.high? %>
          <a class="fui-alert-circle" rel="tooltip" title="" data-original-title="high"></a>
        <% elsif comment.low? %>
          <span class="badge">low</span>
        <% end %>
        <%= "#{comment.content}"%>
        <span class="label label-default">
          <%=link_to "#{comment.updated_at.strftime("%m-%d-%Y %I:%M:%S %p")}", commentable_url(commentable, comment), title: comment.user , rel: 'tooltip' %>
        </span>

        <%= link_to 'edit', commentable_url(commentable, comment), class: "btn btn-xs btn-warning" if can? :edit, @person %>
        <%= link_to 'delete', commentable_url(commentable, comment), controller: "comment", method: "delete", class: "btn btn-xs btn-danger" if can? :edit, @user %>
      </li>
  	</ul>
  <% end %>
</div>
