<% commentable.comments.each do |comment| %>
  <% if comment.high? %>
    <div class="bs-callout bs-callout-danger">
  <% else %>
    <div class="bs-callout">
  <% end %>

    <p><%= "#{comment.content}" %></p> 
    <p class="text-right"><small><%= "#{comment.user} - #{comment.updated_at.strftime('%b %e, %Y %l:%M%P')}" %></small></p>
    <span><%= link_to " ", commentable_url(commentable, comment), class: "btn btn-xs btn-warning glyphicon glyphicon-pencil" if can? :edit, @person %></span>
    <span><%= link_to " ", commentable_url(commentable, comment), controller: "comment", method: "delete", class: "btn btn-xs btn-danger glyphicon glyphicon-remove" if can? :edit, @user %></span>
    <%#= link_to 'edit', commentable_url(commentable, comment), class: "btn btn-xs btn-warning" if can? :edit, @person %>
    <%#= link_to 'delete', commentable_url(commentable, comment), controller: "comment", method: "delete", class: "btn btn-xs btn-danger" if can? :edit, @user %>
  </div>
<% end %>
