<div class="row">
  <% comments.each do |comment| %>
  	<ul>
  	 <li>
        <%= "#{comment.content}"%>
        <span class="label label-default">
          <%=link_to "#{comment.updated_at.strftime("%m-%e-%Y %I:%M:%S %p")}","#", title: comment.user , rel: 'tooltip' %>
        </span>
        <%= link_to 'Delete Comment', [comment.person, comment], method: :delete, class: "btn btn-xs btn-warning" if can? :edit, @people %>
      </li>
  	</ul>
  <% end %>
</div>
