- person.relationships.each do |rel|
  %relationship
    %subject_individual
      %id= rel.subject_individual
    %relationship_uri= rel.relationship_uri
    %object_individual
      %id= rel.object_individual
