<div class="row">
  <div class="col-md-12">
    <h4>Contact</h4>
      <%= render 'shared/contact_cards/email_card', obj: obj if @employer.nil?%>
      <%= render 'shared/contact_cards/address_card', obj: obj %>
      <%= render 'shared/contact_cards/phone_card', obj: obj %>
  </div>
</div>
