%n1:member
  %n1:id
  %n1:person
    = render 'shared/person', person: person
  %n1:relationships
    %n1:subject_individual
    %n1:relationship_uri
    %n1:inverse_relationship_uri
    %n1:object_individual
  = render 'shared/roles', person: person
  %n1:other_coverage