<ul class="nav nav-list">
  <li class="nav-header">Individual</li>
  <li><a id='setAuthorityLink' href='#'>Set Authority</a></li>
  <li><%= link_to "Edit", edit_person_path(person) %></li>
  <li class="disabled"><%= link_to "Add Dependent", new_person_path %></li>
  <li class="disabled"><%= link_to "Drop Dependent", new_person_path %></li>
  <li class="nav-header">Coverage</li>
  <li class="disabled"><a href="#">New Policy</a></li>
  <li class="disabled"><a href="#">Change Carrier</a></li>
  <li class="disabled"><a href="#">Change Plan</a></li>
  <li class="disabled"><a href="#">Cancel/Term</a></li>
  <li class="nav-header">Tasks</li>
  <li class="disabled"><a href="#">Transmit Changes</a></li>
  <li class="disabled"><a href="#">Special Enrollment Period</a></li>
</ul>

