<ul class="nav nav-list">
  <li class="nav-header">Individual</li>
  <li><a href="#">Change Address</a></li>
  <li><a href="#">Set Authority</a></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Add Dependant</a></li>
  <li><a href="#">Drop Dependant</a></li>
  <li class="nav-header">Coverage</li>
  <li><a href="#">New Policy</a></li>
  <li><a href="#">Change Carrier</a></li>
  <li><a href="#">Change Plan</a></li>
  <li><a href="#">Cancel/Term</a></li>
  <li class="nav-header">Tasks</li>
  <li><a href="#">Transmit Changes</a></li>
  <li><a href="#">Special Enrollment Period</a></li>
</ul>
